{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    </head>
    <body>
        <img src="https://images.pexels.com/photos/5439470/pexels-photo-5439470.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="2 men" >
        <div class="button-div"> 
            <button class="signup-button">Signup</button> 
            <button class="login-button">Login</button>
        </div>
        <div class = "text">
            <h2>Become an AI-First Company</h2>
            <p class = "p1">Partner with Affinda to capture the opportunities of</p>
            <p class = "p2">the 4th Industrial Revolution</p>
        </div>
        <br>
        <br>
        <p class = "p3">"By 2023, 40% of Infrastructure and Operations teams will use AI-augmented automation in large enterprises, resulting in higher IT productivity with greater agility and scalability."</p>
    </body>
</html>